/* Header Rules*/

header h1 { 
    color: #0021A5;
    font-size: 55px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight:500;
        }

header a:link{
}

header a:visited {
    color:#0021A5;
}
   
/* Navigation Rules */
nav {
    font-size: 20px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #FF4A00;
    height: 48px;
    text-align: center;
        }

nav a{
    margin: 15px;
            }

nav a:link {
    color: #FFF;
    }

nav a:hover{
    font-weight:800;
}

nav a:visited {
    color: #FFF;
}

/* Article Rules*/

h1{ 
    color: #0021A5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 30px;
    text-align: left;
  }

h2 {
    color: #0021A5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration:none;
    font-size: 20px;
    text-align: left;
    }

p {
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 24px;
    text-align: left;
    }

p a:link{
    text-decoration:none;
    color: #0021A5;
}

p a:hover{
    text-decoration:underline;
}

p a:visited{
    color:#0021A5;
}

ul {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    }

ul a:link{
    color:#0021A5;
    text-decoration:none;
}

ul a:hover{
    text-decoration:underline;
}

ul a:visited{
    color:#0021A5;
    text-decoration: none;
}

img { 
    margin-top: 30px;
    display:block;
    margin-left:auto;
    margin-right: auto
    }

span a:link{
    color:#0021A5;
}

/*Footer Rules*/

footer {
    background-color: #FF4A00;
    height:20px;
    color: #FFF;
    font-size: 20px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    clear:both
       }

footer a{
    margin: 15px;
    font-size: 20px;
    }

footer a:link {
    color: #FFF;
    text-decoration:none
    }

footer a:hover {
    text-decoration: underline;
    font-weight:800;
}

footer a:visited {
    color:#FFF;
}

/* Media Rules*/

@media screen and (max-width: 600 px) {

	body {
		padding: 5%;
	}
	
	h1, h2, p {
		text-align: center;
	
	nav {
		width: 95%;
	}
	
	#content {
		margin-left: 0%;
		width: 95%;
	}
}

